@using u21430854_HW05.ViewModels
@model DefaultVM
@{
    ViewBag.Title = "Books";
}

<head>
    <style>
        .search {
            margin-right: 0.5rem;
        }
    </style>    
</head>

<h2>Books</h2><hr/>

<div class="container-fluid mb-4">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {        
        <div class="row">
            <input class="search col-md-3 col-sm-12" id="book-name" name="bookName" type="text" placeholder="Search book name.." />

            @Html.DropDownList("author", new SelectList(Model.bookAuthors, "id", "surname"), "Search author", new { @class = "search col-md-2 col-sm-6" })
            @Html.DropDownList("type", new SelectList(Model.bookTypes, "id", "name"), "Search genre", new { @class = "search col-md-2 col-sm-6" })

            <input type="submit" class="btn btn-success search col-md-2 col-sm-4" value="Search" />
            <button class="btn btn-danger search col-md-2 col-sm-4">Clear search</button>
        </div>
    }    
</div>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Type</th>
            <th>Page count</th>
            <th>Points</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.books.Count() > 0)
        {

        }
        else
        {
            <tr style="font-size: 2rem;"><td colspan="8">There are no books in the library</td></tr>
        }
    </tbody>
</table>